<!-- 네비게이션바 -->
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-black">
  <div class="container-fluid">
  	<a class="navbar-brand" href="#">
      <img src="/static/images/icon.png" alt="" width="30" height="30" class="d-inline-block align-text-top">
      Today's
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link" href="#">MY PAGE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">MY LIKE</a>
        </li>       
        <li class="nav-item">
          <a class="nav-link" href="/users/login">LOGIN</a>
        </li>
      </ul>
    </div>
  </div>
</nav>