@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");


.w-btn-outline {
    padding: 5px 5px;
    border-radius: 15px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 400;
    transition: 0.25s;
    white-space: nowrap;
}


.w-btn-indigo-outline {
    border: 3px solid aliceblue;
    color: #1e6b7b;
}

.w-btn-indigo-outline:hover {
    color: #1e6b7b;
    background: aliceblue;
}

.w-btn-outline:hover {
    letter-spacing: 2px;
    transform: scale(1.1);
    cursor: pointer;
}

.w-btn:active {
    transform: scale(1.1);
}

.w-btn-outline:active {
    transform: scale(1.1);
}

