<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>My Page</title>
</head>

<!-- Bootstrap CSS -->
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
<body>
<!-- 네비게이션바 -->
{% include "navbar.html" %}

<br />
<table width="300" border="1" cellpadding="2" cellspacing="0">
<tbody>  
<tr>
    <td>사용자ID : {{ m_id }} </td>
</tr>
<tr>
    <td>이름 : {{ m_name }}</td>
</tr>
<tr>
    <td>이메일 : {{ m_email }}</td>
</tr>
<tr>
    <td>회원가입일 : {{ m_regdate }}</td>
</tr>

</tbody>
</table>


</body>
</html>