<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>

<button id="currentGeoLocation">버튼을 누르면 위치정보를 허용합니다.</button>

<form action="{% url 'main' %}" method="POST">{% csrf_token %}
    <input type="hidden" id="startLat" name="startLat" value="default_latitude">
    <input type="hidden" id="startLon" name="startLon" value="default_longitude">
    <input type="submit" id="submit" value="버튼을 누르면 메인 페이지 이동.">
</form>
<div id="nudge"></div>
<script>
    locationCheck();

    function locationCheck() {
        const currentGeoLocation = document.getElementById("currentGeoLocation");
        currentGeoLocation.onclick = function () {
            let startPos;
            let geoOptions = {timeout: 10 * 1000};
            let geoSuccess = function (position) {
                startPos = position;
                let lat = String(startPos.coords.latitude);
                document.getElementById("startLat").setAttribute("value", lat);
                document.getElementById("startLon").value=startPos.coords.longitude;
            };
            let geoError = function (error) {
                console.log('Error occurred. Error code: ' + error.code);
            };
            navigator.geolocation.getCurrentPosition(geoSuccess, geoError, geoOptions);
            // 참고 https://hacktiming.tistory.com/4
        };
    }
    
    const API_KEY = '391a7452f0305886198698bfedb179e0';
    function onGeoOk(position) {
    const latitude = position.coords.latitude;
    const longitude = position.coords.longitude;
        //console.log(`You live in ${latitude} and ${longitude}`);
        fetch(
            `https://api.openweathermap.org/data/2.5/weather?lat=${latitude}&lon=${longitude}&appid=${API_KEY}&units=metric`,
        )
        .then(response => response.json())
        .then(data => console.log(`온도 : ${data.main.temp}, 날씨 : ${data.weather[0].main},
            구름 정도 : ${data.clouds.all+"%"}
            날씨 설명 : ${data.weather[0].description},
            현재 위치 : ${data.name}`));
        //document.getElementById("weather").innerText=${data.weather[0].main};
    }
    function onGeoError() {
        alert("Can't find you. No weather for you.");
    }

    navigator.geolocation.getCurrentPosition(onGeoOk, onGeoError);
</script>
</body>
</html>